@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

body::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(img/Background.jpg);
    background-position: center;
    background-size: cover;
}

.log_container{
    width: 400px;
    padding: 30px;
    border: 1px solid grey;
    border-radius: 8px;
    text-align: center;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

form {
    display: flex;
    flex-direction: column;
}

form h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
}

.input {
    position: relative;
    margin: 15px 0;
    border-bottom: 2px solid white;
}

.input input{
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1rem;
}

.input label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: white;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.3s ease;
}

.input input:focus~label,
.input input:valid~label{
    transform: translateY(-120%);
    font-size: 0.8rem;
    top: 10px;
}

.pass_option{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 35px 0;
    color: white;
}

.pass_option label{
    display: flex;
    align-items: center;
}

#remember{
    accent-color: white;
}

.pass_option label p{
    margin-left: 8px;
}

.log_container a{
    color: white;
    text-decoration: none;
}

.log_container a:hover{
    text-decoration: underline;
}

button{
    background: white;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 3px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover{
    background: rgba(255, 255, 255, 0.30);
    color: #ffffffb3;
    border-color: #ffffffb3;
}

.account_option {
    text-align: center;
    margin-top: 30px;
    color: white;
}